

  .card {
    padding: 10px;
  }
  .app{
    margin-top: 50px;
  }
  .affix{
      width: 35%;
  }
  .input-group{
    margin-top: 10px
  }

  .customModal{
    position:fixed !important;
    top:30% !important;
    right: 30% !important;
    z-index: 1000;
  }